@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

.axis line, .axis path {
  fill: none;
  stroke: #000;
}

.title {
	text-anchor:middle;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  color:white;
}

#vis {
  position:relative;
  padding-bottom:100px;
}

.link {
  stroke: #aaa;
}

.node text {
stroke:#333;
cursos:pointer;
}

.node circle{
  stroke:#fff;
  stroke-width:3px;
  fill:#555;
}

.node {
  cursor:pointer;
}

.row h3 {
  text-align:center;
}

.code-editor, #vis {
  height:300px;
}

#node-code, #vis {
  border-left:1px solid #d3d3d3 !important;
  border-right:1px solid #d3d3d3 !important;
}

text {
  font-size:15px;
}

#link-warning, #node-warning {
  opacity:0;
}
